### Build ###
/target/
*.class
*.war
*.jar
*.log

### IntelliJ IDEA ###
.idea/
*.iml

### STS / Eclipse ###
.project
.classpath
.settings/
.springBeans

### VS Code ###
.vscode/

### OS ###
*.DS_Store

### Maven Wrapper ###
.mvn/wrapper/maven-wrapper.jar

### Sensitive Config Files ###
src/main/resources/application.properties
src/main/resources/application.yml
.env
